<?php

$OptionsMap = [
    'driver' => 'mysql',
    'host' => 'localhost',
    'dbName' => 'books',
    'user' => '*',
    'pass' => '*',

];

$defaultPaginationValue = 4;


//add values and rename to config.php